In [1]:
def funct1():
    print ("Hello to all...")
    
funct1()
funct1()

Hello to all...
Hello to all...

In [3]:
def funct2(msg, times):
    print (msg * times)
    
funct2("Welcome ", 4)
funct2("Good Bye !!! ", 3)

Welcome Welcome Welcome Welcome
Good Bye !!! Good Bye !!! Good Bye !!!

In [7]:
def funct3(msg, times):
    return msg * times

result = funct3("Good Bye ", 4)
print (result)
print (funct3("Thank You ", 5))
print (type(funct3))

Good Bye Good Bye Good Bye Good Bye
Thank You Thank You Thank You Thank You Thank You
<class 'function'>

In [13]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):    # positional parameters
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)  # positional arguments
funct4(100, 200)
funct4(100)
funct4()

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...

In [15]:
def funct5(par1, par2 = None):
    # if (par2 == None):
    if (par2 is None):
        return par1 * 2
    else:
        return par1 + par2
    
print (funct5(100))
print (funct5(100, 800))

200
900

In [16]:
# function with variable number of arguments
def funct6(*arg):
    print (arg, type(arg), id(arg), len(arg))
    
funct6("Amitava", "Developer", "Pune")
funct6("Amitava", "Developer", "Pune", "Male")
funct6("Amitava", "Developer", "Pune", "Male", "CTS")

('Amitava', 'Developer', 'Pune') <class 'tuple'> 1753283181504 3
('Amitava', 'Developer', 'Pune', 'Male') <class 'tuple'> 1753283184496 4
('Amitava', 'Developer', 'Pune', 'Male', 'CTS') <class 'tuple'> 1753283185056 5

In [18]:
# function with variable number of arguments
def funct7(**kwarg):
    print (kwarg, type(kwarg), id(kwarg), len(kwarg))
    
funct7(name="Amitava", desig="Developer", location="Pune")
funct7(name="Amitava", desig="Developer", location="Pune", gender="Male")
funct7(name="Amitava", desig="Developer", location="Pune", gender="Male", company="CTS")

{'name': 'Amitava', 'desig': 'Developer', 'location': 'Pune'} <class 'dict'> 1753283876864 3
{'name': 'Amitava', 'desig': 'Developer', 'location': 'Pune', 'gender': 'Male'} <class 'dict'> 1753283876736 4
{'name': 'Amitava', 'desig': 'Developer', 'location': 'Pune', 'gender': 'Male', 'company': 'CTS'} <class 'dict'> 1753283876928 5

In [19]:
# function with variable number of arguments
def funct8(*arg, **kwarg):
    print (arg, type(arg), id(arg), len(arg))
    print (kwarg, type(kwarg), id(kwarg), len(kwarg))
    
funct8("Amitava", "Developer", location="Pune", gender="Male", company="CTS")
funct8("Amitava", "Developer")
funct8(location="Pune", gender="Male", company="CTS")

('Amitava', 'Developer') <class 'tuple'> 1753281881664 2
{'location': 'Pune', 'gender': 'Male', 'company': 'CTS'} <class 'dict'> 1753283928512 3
('Amitava', 'Developer') <class 'tuple'> 1753281898176 2
{} <class 'dict'> 1753283928448 0
() <class 'tuple'> 1753207537728 0
{'location': 'Pune', 'gender': 'Male', 'company': 'CTS'} <class 'dict'> 1753283928384 3

In [22]:
funct9 = lambda num: 2 * num
print (funct9(300))
print (funct9(500))
print (funct9(900))
print (funct9)

600
1000
1800
<function <lambda> at 0x0000019837DBD700>

In [24]:
funct10 = lambda num1, num2: num1 * num2
print (funct10(300, 50))
print (funct10(500, 60))
print (funct10(900, 70))
print (funct10)

15000
30000
63000
<function <lambda> at 0x0000019837C4E700>

In [25]:
num1 = 1000
output = "Even" if (num1 % 2 == 0) else "Odd"
print (num1, output)

num1 = 1005
output = "Even" if (num1 % 2 == 0) else "Odd"
print (num1, output)

1000 Even
1005 Odd

In [ ]:
fact = lambda num: 1 if (num <= 1) else num * fact(num - 1)

print (fact(5))
print (fact)